:root {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background-color: rgb(43, 43, 43);
    margin: 0;
    padding: 0;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
}

html,
html canvas,
html main,
body,
body canvas,
body main {
    overflow: hidden;
}

html canvas,
html main,
body canvas,
body main {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

*[hidden] {
    display: none !important;
}

main {
    position: relative;
    margin: 3px;
    width: calc(100vh * 0.56);
    height: 100vh;
    background-color: black;
}

main button {
    position: absolute;
    top: 45px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    padding: 6px;
    outline: none;
    transition: all 0.04s ease;
    transform: translate(-50%, -50%);
    max-width: 42px;
    max-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main button img {
    position: relative;
    width: 30px;
    height: 30px;
    user-select: none;
}

main>button#restart {
    left: 45px;
}

main>button#controls {
    left: 90px;
}

main>button#pause {
    right: 45px;
    transform: translate(50%, -50%);
}

main>button#back {
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 50px;
    color: white;
}

main>button#settings {
    right: 90px;
    transform: translate(50%, -50%);
}

main>button:hover {
    background-color: rgba(170, 170, 170, 0.35);
}

main>button:active {
    padding: 5px;
}

main div.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ccc;
    position: absolute;
    top: 4rem;
    left: 0;
    font-size: 1rem;
    width: 100%;
    height: calc(100% - 7rem);
    pointer-events: none;
    padding: 10px;
}

main div.controls[hidden] {
    display: flex !important;
    opacity: 0;
}

main div.controls.animated {
    transition: opacity 0.2s ease;
}

main div.controls h1 {
    margin-top: 0;
}

main div.controls p {
    margin: 0.5em 0;
    text-align: center;
    color: #fff;
}

main div.controls div.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main div.controls div.row div.spacer {
    width: 10px;
}

kbd {
    display: block;
    width: fit-content;
    height: fit-content;
    min-width: 1.8em;
    text-align: center;
    background-color: #eee;
    border-radius: 3px;
    border: 5px solid #aaa;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    color: #333;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

kbd.space {
    padding: 0 2em;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer a {
    font-size: 13px;
    color: gray;
    text-decoration: none;
    margin: 0 6px;
}